* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@primary-color: #1c344f;
@secondary-color: #eaeef2;

body {
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  height: 106px;
  img {
    max-width: 160px;
  }

  .pattern-wrapper {
    background-image: url("./assets/padrao_escuro.png");
    background-size: 100vw;
    background-repeat: no-repeat;
    width: 100%;
  }
}

section {
  display: flex;
  flex-direction: column;
  padding: 32px;

  h2 {
    line-height: 110%;
    font-size: 56px;
    margin-bottom: 24px;
  }

  P {
    line-height: 1.875;
  }

  @media (min-width: 760px) {
    padding: 40px;

    h2 {
      font-size: 64px;
    }
  }
}

.home {
  background-color: @primary-color;
  min-height: calc(100vh - 106px);
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow-x: hidden;

  &__container {
    img {
      width: 100%;
    }

    img.stone-image {
      display: none;
    }
  }

  @media (min-width: 1024px) {
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 45%;
      }

      img.stone-image {
        display: block;
        width: 200%;
        margin-right: -5%;
        animation: fromRight 1s;
      }
    }
  }
}

.about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: @secondary-color;

  &__container {
    color: @primary-color;
    max-width: 1024px;

    .paragraphs-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}

.mission {
  padding: 0;
  display: flex;
  align-items: center;
  background-color: @primary-color;

  &__container {
    display: grid;
    max-width: 1024px;

    @media (min-width: 760px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  article {
    padding: 40px;
    text-align: center;

    h3 {
      margin-bottom: 16px;
      font-size: 24px;
    }

    &:nth-child(even) {
      background-color: @secondary-color;
      color: @primary-color;
    }

    &:nth-child(odd) {
      background-color: @primary-color;
      color: @secondary-color;
    }
  }
}

.services {
  min-height: 100vh;
  background-color: @secondary-color;
  color: @primary-color;
  display: flex;
  justify-content: center;

  &__list {
    display: grid;
    gap: 24px;

    article {
      padding: 16px;
      background-color: @primary-color;
      color: @secondary-color;

      h3 {
        margin-bottom: 16px;
        font-size: 24px;
      }
    }
  }

  @media (min-width: 760px) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    &__list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

footer {
  background-color: @primary-color;
  display: flex;
  justify-content: center;
  padding: 40px;

  .contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: @secondary-color;

    &__options {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .contact-option {
        display: flex;
        align-items: center;
        gap: 16px;

        svg {
          width: 32px;
          height: 32px;

          path {
            fill: @secondary-color;
          }
        }
      }
    }

    img {
      max-width: 100%;
    }
  }

  @media (min-width: 760px) {
    .contact {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      img {
        max-width: 320px;
      }
    }
  }
}

@keyframes fromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
